/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 
 @font-face {
 	font-family: pixel;
 	src: url('../font/pixel.TTF');
 }

 body {
 	background-color: #B6DEC3;
 }

 .gamespace {
 	width: 640px;
 	height: 480px;
 	background-image: url('../img/catcounterbg.png');
 	border: 2px solid black;
 	border-radius: 25px;
 	margin: auto;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 }

h1 {
	text-transform: uppercase;
	font-family: pixel;
	font-size: 80px;
	color: #BE1E2D;
	text-align: center;
	margin-top: 100px;
}

h2 {
	text-transform: uppercase;
	font-family: pixel;
	font-size: 30px;
	color: #BE1E2D;
	text-align: center;
	margin-top: 10px;
}