/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url("../img/bg.jpg")
}

table {
	border: 1px solid white;
	width: 800px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}


td {
	border: 1px solid white;
}
