/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 
 @font-face {
 	font-family: pixelone;
 	src: url('../font/pixel.TTF');
 }

  @font-face {
 	font-family: pixeltwo;
 	src: url('../font/pixel2.TTF');
 }

 body {
 	background-color: #B6DEC3;
 }

 #gamespace {
 	position: relative;
 	width: 640px;
 	height: 480px;
 	background-image: url('../img/catcounterbg.png');
 	border: 3px solid black;
 	border-radius: 25px;
 	margin: auto;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 }

#gamespace img {
	max-width: 100px;
	position: absolute;
}

h1 {
	text-transform: uppercase;
	font-family: pixelone;
	font-size: 80px;
	color: #BE1E2D;
	text-align: center;
	margin-top: 100px;
}

h2 {
	text-transform: uppercase;
	font-family: pixelone;
	font-size: 30px;
	color: #BE1E2D;
	text-align: center;
	margin-top: 10px;
}

.container {
	text-align: center;
}

button {
	width: 218px;
	height: 75px;
	margin-top: 15px;
	background-image: url('../img/startbutton.png');
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	font-family: pixeltwo;
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
}